.menu-top {
	width: 100%;
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.6em;
	padding: 0 32px;
	letter-spacing: 1px;
	z-index: 10000;
	height: 70px;
	&.with-bg {
		background: -moz-linear-gradient(top,  rgba(145,145,145,1) 0%, rgba(125,185,232,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,145,145,1)), color-stop(100%,rgba(125,185,232,0)));
		background: -webkit-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(125,185,232,0) 100%);
		background: -o-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(125,185,232,0) 100%);
		background: -ms-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(125,185,232,0) 100%);
		background: linear-gradient(to bottom,  rgba(145,145,145,1) 0%,rgba(125,185,232,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#007db9e8',GradientType=0 );
	}
	a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
		img {
			width: 35px;
			margin-top: -2px;
			display: block;
		}
	}
	> a {
		margin-right: $main-padding * 2;
	}
	span.right {
		float: right;
		a {
			display: block;
			float: left;
			margin-left: $main-padding * 2;
		}
	}
}